<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial=yes, maximum-scale=1" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./body.css" />
    <title>Alexander Kwesi's Portfolio</title> 
</head>
<body>
<section class="head">
    <div class="main-header">
        <div class="logo_"></div>
        <div class="right_">
            <div class="About_">About Me</div>
            <div class="Stack_">Tech-Stack</div>
            <div class="Projects_">Projects</div>
            <div class="Contact_">Contact Me</div>
        </div>
    </div>
</section>
<section class="middle_">
    <div class="image_"></div>
    <div class="container_profile_">
    <div class="AboutTitle_">Profile Summary</div>
        <div class="AboutText_">
            As a versatile Web Developer, Full Stack Developer, and Software Engineer,
            I bring a blend of expertise to the table. With a keen eye for user experience,
            I craft dynamic and responsive web solutions that marry functionality with aesthetics.
            Proficient in front-end technologies like HTML, CSS, and JavaScript,
            I ensure seamless interaction and visual appeal. My back-end proficiency extends to
            languages such as Python, C#, and C++, allowing me to architect robust systems and databases.
            Skilled in various frameworks including React, Angular, and Node.js, I expedite development
            while maintaining scalability. Experienced in version control systems like Git and deployment
            platforms like AWS and Azure, I streamline the deployment process. With a commitment to
            staying updated on emerging technologies and best practices, I drive innovation and efficiency
            in every project.
        </div>
    </div>
    </div>
    <div class="Tech_Stack_" >
        <div class="a_">
        <div class="HTML_"><i class="fa-brands fa-html5 fa_" style="color:orange;"></i></div>
        <div class="CSS3_"><i class="fa-brands fa-css3-alt fa_" style="color:deepskyblue;"></i></div>
        <div class="SASS_"><i class="fa-brands fa-sass fa_" style="color:deeppink;"></i></div>
    </div>
    <div class="b_">
        <div class="JQuery_"></div>
        <div class="JavaScript_"></div>
        <div class="Brython_"><br/><br/><br/>B<br/></div>
    </div>
    <div class="c_">
        <div class="TypeScript_"></div>
        <div class="NodeJS_"></div>
        <div class="Express_"></div>
    </div>
        <div class="more_" hidden>more..........</div>
    <div class="d_" hidden>
        <div class="React_"></div>
        <div class="Angular_"></div>
        <div class="Vue_"></div>
    </div>
    <div class="e_" hidden>
        <div class="PHP_"></div>
        <div class="MySQL_"></div>
        <div class="MongoDB_"></div>
    </div>
    <div class="f_" hidden>
        <div class="Python_"></div>
        <div class="Flask_"></div>
        <div class="Jinja2_"></div>
    </div>
    <div class="g_" hidden> 
        <div class="C_"></div>
        <div class="Java_"></div>
        <div class="Kotlin_"></div>
    </div>
    <div class="h_" hidden>
        <div class="C#_"></div>
        <div class="ASP.NET_"></div>
        <div class="Razor_"></div>
    </div>
    <div class="more2_" hidden>more..........</div>
    <div callss="i_" hidden>
        <div class="C++_"></div>
        <div class="Git_"></div>
        <div class="GoogleCloud_"></div>
        <div class="AmazonCloud_"></div>
    </div>
        <div class="Tech_Stack_Used_">These are 
            <br/>Some of<br/> 
            The Tech<br/> 
            Stack I Use</div>
    </div>
    <div class="Project_">
    <div class="a3_">
        <div class="Project1_">
            <span class="uvcp_">UVC Personnel</span>
            <span><a class="a_uvcp_" href="https://www.uvcpersonnel.net">Visit Site</a></span>
        </div>
        <div class="Project2_">
            <span class="uvcl_">UVC Legal</span>
        </span><a class='a_uvcl_' href="https://www.uvclegal.uk">Visit Site</a></span>
        </div>
        <div class="Project3_">
            <span class="st_">Snug Tissue</span>
            </span><a class="a_st_" href="https://www.snugtissue.uk">Visit Site</a></span>
        </div>
    </div>
    <div class="b3_">
        <div class="Project4_">
            <span class="ps_">Predictive System</span>
        </div>
        <div class="Project5_" hidden>
            <span class="is_">Inventory System</span>
        </div>
        <div class="Project6_">
            <span class="cg_">Color Game</span>
            </span><a class="a_cg_" href="https://storage.googleapis.com/color_game_bucket/index.html">Visit Site</a></span>
        </div>
    </div>
    </div>
    <div class="contactme_">
        <div class="ContactTitle_">Contact Me</div>

            <div class="form_">
                <form method="post" action="\mail_post" enctype="application/json" >
                    <div>
                        <label class="label_name_" for="name">Name :</label>
                        <input type="text" id="name" name="fullname" placeholder="Name" class="field_names_" pattern="^[Aa-Zz]{5, 35}" required>
                    </div>
                    <br/>
                    <div>
                        <label class="label_email_" for="email">Email :</label>
                        <input type="email" id="email" name="email" placeholder="Email" class="field_emails_" pattern="/^[a-zA-Z0-9. _-]+@[a-zA-Z0-9. -]+\. [a-zA-Z]{2,4}$/" required>
                    </div>
                    <br/>
                    <div>
                        <label class="label_subject_" for="subject">Subject :</label>
                        <input pattern='^[Aa - Zz]{5, 50}' type="text" id="subject" name="subject" placeholder="Subject" class="field_subjects_" required>
                    </div>
                    <br/>
                    <div>
                        <label class="label_message_" for="message">Message :</label>
                        <textarea id="message" name="message" placeholder="Message" class="field_message_" pattern='^[Aa-Zz0-9]{5,255}' required></textarea>
                    </div>
                    <br/>
                    <div>
                        <input type="submit" value="Send" class="btnsend_">
                    </div>
                </form>
            </div>

        <div class="ContactText_" >
            <div class="getintouch_">Get in Touch
                Via</div>
            <div class="Email_mailto_">Email:  <a href="mailto:seankwesi24@googlemail.com">seankwesi24@googlemail.com</a></div>
            <div class="Phone_mobile">Phone:  <a href="tel:+447477115523">+447477115523</a></div>
            <div class="LinkedIn_">LinkedIn:  <a href="https://www.linkedin.com/in/alexanderoluwaseunkwesi/"><i class="fa-brands fa-linkedin"></i></a></div>
            <div class="GitHub_">GitHub:  <a href="https://github.com/alexander-kwesi"><i class="fa-brands fa-github"></i></a></div>
        </div>
    </div>
</section>
<section class="footer">
<div class="container">
    <div class="footer_">
        <div class="copyright_">Copyright &copy; 2021 to 2024</div>
        <div class="powered_by">
            <span>Designed by - </span>
        </div>
        <div class="name__">
                <span>Alexander Oluwaseun</span>
                <span>Kwesi</span>
        </div>
    </div>
</div>
</section>
<section class="popup">
    <div class="cross">X</div>
    <div class="pop_">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  {% endif %}
{% endwith %}
    </div>  
</section>
</body>
</html>
<script>
window.addEventListener('load', function(){

    if (window.location.href.includes('mail_post'))
    {
        $('.btnsend_').on('click', function(){
           $('.popup').show();
        });
        $('.cross').on('click', function(){
            $('.popup').hide();
        });
    }

}); 
if (!window.location.href.includes('mail_post'))
    {
        $('.popup').hide();
    }  
</script>
